<svg width="490" height="134" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <foreignObject width="490" height="134">
        <div xmlns="http://www.w3.org/1999/xhtml" class="container">
            <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}"></link>
            <style>
                {{soundVsualizerCSS|safe}}
            </style>

            {% if songName %}

            <div class="main">
                <div class="ribbon">
                    <span>
                        <img src="data:image/png;base64, {{spotifyIcon}}" class="spotify-logo"/>
                    </span>
                </div>
                <a class="art" href="{}" target="_BLANK">
                    <center>
                            <img src="data:image/png;base64, {{albumCover}}" class="album-cover rotate" />
                            <div class="centered">⦿</div>
                    </center>
                </a>
                <div class="text">
                    <div class="song-info">
                        <div class="song">{{songName}}</div>
                        <div class="artist">{{artistName}}
                        {% if explicit %}
                            <span class="explicit-music">EXPLICIT</span>
                        {% endif %}
                        </div>
                    </div>

                    <div class="spectrograph">
                        {{soundVisualizerBar|safe}}
                    </div>
                </div>

                {% else %}
                    <div class="playing not-play">Nothing playing on Spotify</div>
                {% endif %}
            </div>

        </div>
    </foreignObject>
</svg>